@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --color1:rgb(228, 200, 255);
    --color2: rgb(118, 83, 139);
    --color3: rgb( 57, 20, 93);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: #fff; */
    
    font-family: 'Cairo', sans-serif;
}
 /* .......................................Main Start............................ */

header{
display: flex;
justify-content: space-between;
background-color: rgb(245, 242, 248);
background: url(./images/background.png);
background-size: cover;

flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
nav h3 a{

text-decoration: none;
font-size: 29px;
font-weight: 700;
filter: blur(.7px);
color: var(--color3);
}
nav h3 a sup{
color: var(--color1);
font-size: 16px;
}
nav ul {
    
    padding-right: 20px;
}
nav ul li{
    display: inline-block;
    padding: 10px 30px;
    margin-left: 20px;
}
nav ul li a{

     color: var(--color3);
     font-size: 18px;
     font-weight: 600;
     text-decoration: none;
}
nav ul li a:hover{
    color: var(--color2);
    text-decoration: underline;
}
.btn{
    padding: 6px 15px;
    background-color:rgb(227, 208, 255);
    border: 2px solid rgb(227, 208, 255);
    
    border-radius: 10px;
}
.btn a{
    font-weight: 700;
    font-size: 16px;
}
.btn:hover{
    background-color:white;
    border: 2px solid rgb(227, 208, 255);
    text-decoration: none;
    transition: all .9s ease-in-out;
}
.btn:hover a{
    text-decoration: none;
    transition: all .9s ease-in-out;
}
.fa-bars{
    font-size: 25px ;
    color: var(--color2);
    padding: 10px;
    display: none;
}
/* ...................................................................................... */
.introdaction{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
/* .................................... left-intro */
.left-intro{
    width: 38%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.left-intro h1{
font-size: 72px;
font-weight: 600;
line-height: 1.1;
color: var(--color3);
margin-bottom: 0px;
}
.left-intro p.text{
    width: 90%;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(89,77,109);
    padding: 20px 0px 
}
.left-intro .buy{
    width: 36%;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
    background-color: var(--color1);
    color: var(--color3);
    font-weight: 700;
    font-size: 16px;
}
.left-intro .buy:hover{
    background-color:white;
    border: 2px solid rgb(227, 208, 255);
    text-decoration: none;
    transition: all .9s ease-in-out;
}
.left-intro .Trust-img{
    padding: 34px 0px 0px 0px;
    width: 25%;
}
.left-intro .Trust-img img{
    width: 100%;
}
.txt-review{
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    filter: blur(.5px);
}
.txt-review span{
    font-weight: 700;
}
/* ...................................... right-intro */
.right-intro{
    width: 52%;
    display: flex;
    justify-content: center;
}
/* ....................................... right-intro  part-one  */
.part-one{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transform: translateY(-15%);
}
.part-one .image{
width: 90%;
position: relative;

}
.part-one .image img{
    width: 100%; 
    vertical-align: bottom;
    border-radius: 10px;
    }
.part-one .image::before{
    content: "";
    background:  linear-gradient(90deg, rgb(233, 219, 255),var(--color1));
    border-radius: 10px;
    height: 82%;
   position: absolute;
   top: 16;bottom: 0;right: 0;left: 0;
   z-index: -1;
}
.part-one .info{
width: 100%;
background-color: white;
position: relative;
right: -21%;
transform: translateX(-30%);
display: flex;justify-content: space-around;
padding: 10px;
border-radius: 10px;
margin: 20px 0px;
}
.part-one .info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--color3);
  object-fit: cover;
}
.part-one .info div {
  display: flex;
  width: 80%;
flex-direction: column;
padding: 0px 8px;
color: var(--color3);
}
.part-one .info div h5{
    font-size: 16px;
    font-weight: 500;
  }
  .part-one .info div p{
    font-size: 12px;
    line-height: 1;
  }
  /* ....................................... right-intro  part-two  */
.part-two{
    width: 50%;
    display: flex;
    flex-direction: column;
    transform: translateY(13%);
}
.part-two .all-price{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 5px;
}
.all-price .price{
width: 96%;
    display: flex;
    justify-content: space-between;
    
    padding: 10px 5px;
   align-self: center;
}
.all-price .price:nth-child(1){
   border-bottom: .4px solid rgb(223, 223, 223); 
}
.all-price p{
    font-size: 9px;
    color: var(--color3)
}
.all-price .price-title{
    font-size: 13px;
    font-weight: 500;
}
.all-price .price-title-bold{
    font-size: 12px;
    font-weight: 700;
}
.price-left{
    width: 45%;
    display: flex;
}
.price-left .circle{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:var(--color1);
    margin: 0px 12px 0px 0px;
}
.price-left .circle2{
    background-color:var(--color2);
}
.price-right{
    width: 55%;
    text-align: end;
}
.table{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0px;
    color: var(--color3);
}
table tr th{
    font-size: 10px;
}
#animations-example-4 {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
  #animations-example-4 tbody td {
    border-top-left-radius: 7px;
    border-top-right-radius: 10px;
    background-color: rgb(228, 200, 255);
    transform-origin: bottom;
    animation: revealing-bars 4s linear ;
  }
  @keyframes revealing-bars {
    0%  { transform: scaleY( 0 ); }
    15% { transform: scaleY( 1 ); }
  }
  /* .......................................Header end............................ */
 /* .......................................Main Start............................ */
main{
    width: 100%;
    
}
.all-cards{
    padding: 70px 100px 40px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.all-cards .card{
    width: 31%;

}
.card img{
    width: 100%;
}
.card .card-descrip{
    width: 100%;
    color: var(--color3);
}
.card .card-descrip h3{
    font-size: 24px;
    font-weight: 600;
}
.card .card-descrip p{
    font-size: 18px;
    font-weight: 500; 
    color: var(--color2);
    padding: 15px 0px;
}
.card .card-descrip a{
    color: var(--color3);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.card .card-descrip a i{
    font-size: 10px;
    margin: 0px 5px;
    padding: 5px;
    background-color: var(--color1);
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: all .2s ease-in-out;
}
.card .card-descrip a:hover i{
    transform: rotate(0deg);
}












  







































































































@media screen and (max-width: 1250px) {
.all-cards{
        padding:  40px;
    }

}




  @media screen and (max-width: 1160px) {
    .introdaction{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    /* .................................... left-intro */
    .left-intro{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .right-intro{
        width: 100%;
        margin: 100px 0px 0px 0px;
        padding: 20px 40px;
    }
    /* /////////////////////// ..................Main */
    .all-cards{
        padding:  40px;
        justify-content: center;
        
    }
    .all-cards .card{
        width: 55%;
        margin-bottom: 20px;
    }
  }

  /* .................................................................. */
  @media screen and (max-width: 920px) {
    nav{
        padding: 40px;
    }
 .fa-bars{
        font-size: 25px ;
        color: var(--color2);
        padding: 10px;
        display: block;
    }
    nav ul{
        display: none;
    }
   
  }
/* ................................................................................... */
  @media screen and (max-width: 800px) {
   
    .part-one{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;   
    }
    .part-two{
        display: none;
    }
    .part-one .image{
        width: 100%;
        }
    .part-one .info{
        width: 100%;
        right: 0;
        transform: translateX(0%);
        }
  }